@{
	Layout = "_Layout2";
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	<h3><a class="nav" asp-area="" asp-controller="CoreUI" asp-action="Index" asp-route-view="index">Here's the CoreUI dashboard: Click Me</a></h3>
</div>